.project-box {
	margin-top: 80px;
	margin-bottom: 30px;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.mp{
  margin: 60px;
  font-size: 36px;
  text-decoration: underline;
  text-decoration-color: #F7CA17;
  text-decoration-thickness: 3.5px;
  margin-bottom: 80px;
}

.project-card {
  border-radius: 6px;
  margin-bottom: 100px;
  display: inline-block;
  width: 90%;
  height: 420px; 
  display: flex;
  align-self: center;
}

.project-image{
  width: 65%;
  box-shadow: 0 14px 28px rgb(0, 0, 0), 0 10px 10px rgb(0, 0, 0);
}

@media only screen and (max-device-width: 750px) {
	.project-image{
  width: 100%;
  opacity: 50%;
  z-index: -1;
	}
}

.project-data{
  flex-direction: column;
  width: 35%;
  padding: 20px;
}



.img-wildifre{
  background: url(/src/Images/Wildfire.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  
}
.img-crytpo{
  background: url(/src/Images/Crypto.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.img-portfolio{
  background: url(/src/Images/Port.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.img-face{
  background: url(/src/Images/Face.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.img-robo{
  background: url(/src/Images/Robo.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.name{
  font-size: 30px;
  text-align: right;
  margin-bottom: -12px;
}
.name-opp{
  font-size: 30px;
  text-align: left;
  margin-bottom: -12px;
}
.info{
  background-color: #3b3a3a;
  padding: 23px;
  box-shadow:0 7px 30px -10px rgb(0, 0, 0);
  margin-left: -100px;
  border-radius: 6px;
  text-align: right;
}

.info-opp{
  background-color: #3b3a3a;
  padding: 23px;
  box-shadow:   0 7px 30px -10px rgb(0, 0, 0); 
  margin-right: -100px;
  border-radius: 6px;
  text-align: left;
  z-index: 1;
}

.project-skills{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: -40px;
}

.project-skills-opp{
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  text-align: right;
  
}

.skill{
  padding: 7px;
  list-style-type: none;
}

.project-links{
  display: flex;
  flex-direction: row;
  
}

.demo{
  color: #3b3a3a;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border: 2.8px solid #F7CA17;
  border-radius: .5rem;
  font-size: 20px;
  background-color: #F7CA17;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  padding: 7px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 14px;
  }
  
  .demo:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  color: #F7CA17;
  background-color: #3b3a3a;
  border: 2.8px solid #3b3a3a;
  transform: scale(1.08);
  }

  .source{
  color: #3b3a3a;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border: 2.8px solid #F7CA17;
  border-radius: .5rem;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #F7CA17;
  cursor: pointer;
  padding: 7px;
  font-family: 'Montserrat', sans-serif;
  }
  
  .source:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  color: #F7CA17;
  background-color: #3b3a3a;
  border: 2.8px solid #3b3a3a;
  transform: scale(1.08);
  }