.project-box {
	margin-top: 80px;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

@media only screen and (max-device-width: 450px) {
	.project-box{
    margin-top: 80px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 370px;
	}
}

.mp{
  margin: 60px;
  font-size: 36px;
  text-decoration-color: #F7CA17;
  text-decoration-thickness: 3.5px;
  margin-bottom: 80px;
}

.project-card {
  border-radius: 10px;
  margin-bottom: 40px;
  display: inline-block;
  width: 80%;
  height: 420px; 
  display: flex;
  align-self: center;
}

.project-image{
  width: 45%;
  z-index: -1;
}


.project-data{
  flex-direction: column;
  width: 40%;
  padding: 20px;
  margin-left: -80px;
}

.project-data-opp{
  flex-direction: column;
  width: 40%;
  padding: 20px;
  margin-right: -80px;
}



.img-education{
  background: url(/src/Components/Track/track-imgs/Online_education_SVG.svg);
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-size: 100% 100%;
  width: 450px;
  height: 450px;
  
}
.img-comm{
  background: url(/src/Components/Track/track-imgs/Chat_SVG.svg);
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-size: 100% 100%;
  width: 450px;
  height: 450px;
}
.img-health{
  background: url(/src/Components/Track/track-imgs/fitness_SVG.svg);
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-size: 100% 100%;
  width: 450px;
  height: 450px;
}
.img-home{
  background: url(/src/Components/Track/track-imgs/City_SVG.svg);
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-size: 100% 100%;
  width: 450px;
  height: 450px;
}

.name{
  font-size: 30px;
  margin-bottom: -12px;
  text-align: center;
}
.name-opp{
  font-size: 30px;
  text-align: center;
  margin-bottom: -12px;
}
.info{
  background-color: #88858546;
  padding: 23px;
  box-shadow:0 7px 30px -10px rgb(0, 0, 0);
  border-radius: 10px;
  text-align: center;
}

.info-opp{
  background-color: #88858546;
  padding: 23px;
  box-shadow:   0 7px 30px -10px rgb(0, 0, 0); 
  border-radius: 10px;
  text-align: center;
}

.line-title {
	width: 35%;
	height: 2px;
  margin: 20px;
	background:#F7CA17;
  }
