
.bar{
  display: flex;
  color: #F7CA17;
  position: inherit;
  margin-top: 12px;
  justify-content: center;
  align-items: center;
}

.logo{
  background: url(/src/Components/Navbar/SF_Hacks_Logo.png);
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 100% 100%;
  width: 200px;
  height:200px;
}
