
.bar{
  display: flex;
  color: #F7CA17;
  position: inherit;
  margin-top: 12px;
  justify-content: center;
  align-items: center;
}

.logo{
  background: url(/src/Components/Navbar/SF_Hacks_Logo.png);
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 100% 100%;
  width: 200px;
  height:200px;
}
.svg-top {
  transform: rotate(180deg);
  position: absolute;
  z-index: -1;
}

.waves{
	background: url(/src/Components/Header/5e98a8e44a1b909f87b0b1b9_hero_landscape.svg);
	width: 100%;
	height: 35%;
	position: absolute;
	z-index: -1;
	opacity: 0.2;
}
