.bar{
  display: flex;
  color: #F7CA17;
  position: inherit;
  margin-bottom: 60px;
  justify-content: center;
  align-items: center;
}

/* .logo{
  background: url(/src/Components/Navbar/SF_Hacks_Logo.png);
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 100% 100%;
  width: 200px;
  height:200px;
} */

.svg-top {
  margin-top: 100px;
  transform: rotate(180deg);
  position: absolute;

  z-index: -1;
}
@media only screen and (max-device-width: 800px) {
	.svg-top{
		margin-top: 40px;
    width: 100%;
	  }
  }
.nav {
  width: 100%;
  background-color: #e3d7f0ee;
  position: fixed;
  top: 0;
  height: 100px;
  overflow: hidden;
  z-index: 2;
  justify-content: center;
  backdrop-filter: blur(100px);
}
@media only screen and (max-device-width: 800px) {
	.nav{
		display: none;
	  }
  }

.nav-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 140vw;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-content: center;

}

nav li {
  color: #000000;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	font-size: 24px;
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
  width: 20vw;
  height: 98px;
  text-transform: uppercase;
  text-align: center;
  align-self: center;
  letter-spacing: 4px;
  padding-top: 30px;
}

nav li:hover {
  color: #040105;

  transform: scale(1.16);
}