.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.center {
  display: flex;
  justify-content: center;
  color: #ffffff;
}
.loading{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #F7CA17;
  width: 100%;
  height: 100vh;
}