
.sponsor{
    display: flexbox;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.slide-container{
    background: #ffffff;
    width: 65%;
    border-radius: 10px;
    margin-bottom: 30px;
}
.slider-1, .slider-2, .slider-3, .slider-4 {
    background: #ffffff;
    height: 100px;
    overflow: hidden;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
}


.slider-1 .slide-track {
    animation: scroll 36s linear infinite;
    display: flex;
}

.slider-2 .slide-track {
    animation: scroll 31s linear infinite;
    display: flex;
}

.slider-3 .slide-track {
    animation: scroll 33s linear infinite;
    display: flex;
}

.slider-4 .slide-track {
    animation: scroll 39s linear infinite;
    display: flex;
}

.slide{
    padding-left: 70px;
}


@keyframes scroll {
    0% {
        transform: translateX(0);
   }
    100% {
        transform: translateX(calc(-200px * 4));
   }
}


